$white: #ffffff;
$indigo: #435fc1;
$tuna: #333742;
$manatee: #989ba0;
$citron: #80ae1e;
$zumthor: #e8f0ff;
$mercury: #e3e3e3;
$wildSand: #f4f4f4;
$alto: #d6d6d6;
$black: #000000;
$punch: #df4243;
$spindle: #c8d6ee;

$primary-color: $indigo;
$primary-text-color: $tuna;

$BlueButtonSmallNormal: #435fc1;
$BlueButtonSmallHover: #5574e2;
$BlueButtonSmallDisabled: #435fc1;
