@import "../../../styles/colors";

.acceptButtons {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  background-color: $white;
  padding: 10px 30px;
}

.acceptButtonsRight {
  justify-content: flex-end;
}

.acceptButtonsLeft {
  justify-content: flex-start;
}
